/* Roll and it's content styling*/
  
.item {
  display: flex;
  flex-direction: column;
  width: 287px;
  margin-top: 60px;
}

.item img{
  width: 100%;
  border: 3px solid black;
}

.item h1 {
  margin: 10px 0px 20px 0px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.item-choice {
  width: 60%;
}

.item-row {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Modified the select drop down from this https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css */
/* and used this tool to convert svg to url https://www.svgbackgrounds.com/how-to-add-svgs-with-css-background-image/ */
select {
  padding: 2px 6px 3px 6px;
  border: 2px solid black;
  border-radius: 0px;
  appearance: none;
  height: 35px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.84 22.79"><polygon class="cls-1" points="0 0 30.92 22.79 61.84 0 0 0"/></svg>') 
              98% / 10% no-repeat #fff;
}

.cart {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  height: 50px;
}


/* Radio styling */

.pack-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modified the following radio style from this https://stackoverflow.com/questions/18166664/text-only-radio-buttons */
/* Hides the default radio display */
input[type="radio"] {
  display:none;
}

/* Selects the label immediately after each radio input*/
input[type="radio"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Makes the label after the checked radio gray*/
input[type="radio"]:checked + label {
  background-color: lightgray;
}