* {
    font: 18px "Barlow Condensed", sans-serif;
    box-sizing: border-box;
}


.larger-font {
    font-size: 25px !important;
}

.largest-font{
    font-size: 35px;
}

.bold{
    font-weight: 600;
}

.highlighted{
    background-color: yellow;
}

.header-group{
    display: flex;
    gap: 20px;
    margin: 50px 0px 0px 30px;
}

.horizontal-line{
    width: 100%;
    height: 3px;
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
    gap: 100px;
}

nav a:hover,
.cart:hover {
    background-color: yellow;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px 100px;
    margin: 70px 110px 120px 110px;
}

.cart{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    height: 100%;
}


.item{
    display: flex;
    flex-direction: column;
}

.item img{
    width: 100%;
    outline: 4px solid black;
}

.item-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 14px;
    align-items: center;
}

.pack-radio{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

button, a{
    cursor: pointer;
}


/* Modified the radio style from this https://stackoverflow.com/questions/18166664/text-only-radio-buttons */

input[type="radio"] {
    display:none;
}

input[type="radio"] + label{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: lightgray;
}

/* Modified from this https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css */
/* and used this tool to convert svg to url https://www.svgbackgrounds.com/how-to-add-svgs-with-css-background-image/ */
select {
    padding: 2px 6px 3px 6px;
    width: 100%;
    border: 1px solid black;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.84 22.79"><polygon class="cls-1" points="0 0 30.92 22.79 61.84 0 0 0"/></svg>') 
                98% / 10% no-repeat #fff;
}